<html>
  
<head>

  <title> Backbone Demo </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<div id="container">
   
     
</div>



<script type="text/template" id="library-template">
  <h1> My Notes List </h1>
      <div id="create-mynote">
          <input id="new-title" placeholder="Enter Title" type="text" />
           <input id="new-content" placeholder="Enter Content?" type="text" />
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>
  <ul class="mynotes"></ul>
  

</script>


<script type="text/template" id="mynote-template">
  <div class="mynote-title">{{title}} </div>
    <div class="mynote-content">{{content}}</div>
</script>

<script type="application/javascript">
      jQuery(function() {
          window.library.fetch();
      });
  
</script>

</body>
</html>